/*-----Зачистка стилей--------*/
/* Указываем box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class], ol[class] {
    padding: 0;
}
/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
    list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input, button, textarea, select {
    font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----Стартовые настройки нового стиля----*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
/*Следующий блок*/
.container div {
    margin-top: 2em;
    margin-bottom: 2em;
}
/*Навигация второго уровня*/
.menu {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #333;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ddd;
    color: black;
}

/*Навигация первого уровня*/
nav {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #555;
}
nav.fill ul li a {
    position: relative;
}
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(112, 112, 112);
    height: 1px;
}
nav.fill ul li a {
    transition: all 1s;
}
nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 0.5s forwards;
    -webkit-animation: fill 0.5s forwards;
    -moz-animation: fill 0.5s forwards;
    opacity: 1;
}
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #2492df;
    }
}

/*Настройки шапки*/
header{
    background: linear-gradient(#0f3652, #2492df)
}
.banner {
    width: 960px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}
.banner h1 {
    font-size: 50px;
}
.banner a {
    color: white;
    text-decoration: none;
}

/*Настройки блоков*/
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-indent: 0px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    cursor: grab;
}
.card_parrent {
    background-color: #0c2d44;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-indent: 0px;
    box-shadow: 0px 5px 5px #dedede;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
.card:hover{
    color: #000;
    box-shadow: 0px 5px 5px #dedede;
    -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0,-5px);
}
/*Подвал*/
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .menu a {
        float: none;
        width: 100%;
    }
}

.hpost {
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #2492df;
}
.hdr{
    text-align: center;
}

.lefttext {
    float: left;
    margin: 30px;
    margin-top: 60px;
    width: 200px;
    height: 200px;
}

@keyframes bloom {
    0% {
        filter: grayscale(.8);
    }
    40% {
        filter: grayscale(.5);
    }
    100% {
        filter: grayscale(0);
    }
}

@keyframes circle {
    0% {
        opacity: .5;
        background: rgba(189, 179, 157, 0.2);
    }
    40% {
        opacity: 1;
        background: rgba(213, 34, 160, .2);
    }
    100% {
        width: 100%;
        height: 200%;
        opacity: 0;
    }
}
.section{
    color: rgba(0, 0, 0, 0.5);
}
.container {
    width: 960px;
    margin: 0 auto;
}
.container h3 {
    font-size: 40px;
    text-align: center;
}
.logo {
    float: left;
    filter: brightness(100)
}
table {
    border-spacing: 0;
    empty-cells: hide;
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
    color: rgb(192, 192, 192);
}

td:first-child {
    text-align: left;
    color: white;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid #F4EEE8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background: #2492df;
}

tr:nth-child(odd) {
    background: #333;
}

/*th:nth-child(even) {
    background: #2492df;
}

th:nth-child(odd) {
    background: #333;
}*/

.round-top {
    border-top-left-radius: 5px;
}

.round-bottom {
    border-bottom-left-radius: 5px;
}

tr:hover td {
    background: rgb(107, 0, 0);
    font-weight: bold;
    color: white;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    text-align: center;
    width: auto;
    padding: 0 15px;
}

.login-wr {
    position: relative;
    margin: 0 auto;
    background: #fff;
    max-width: 550px;
    box-shadow: 3px 3px 24px #999;
    padding: 15px 15px 15px 15px;
}

.login-wr h2 {
    text-align: left;
    font-weight: 200;
    font-size: 1.6em;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eeeeee;
    color: #474747;
}

.form {
    padding-top: 20px;
    text-align: left;
}

input[type="text"], input[type="email"] {
    margin-bottom: 25px;
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  	position: absolute;
	  opacity: 0;
cursor: pointer;}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radiobtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

button {
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}

input[type="text"] {
    background: url("img/user.png") no-repeat left 10px center;
}

input[type="email"] {
    background: url("img/email.png") no-repeat left 10px center;
}

textarea {
    background: url("img/pencil.png") no-repeat left 10px top 10px;
}

textarea {
    width: calc(100% - 55px);
    height: 120px;
    border: 1px solid #bbb;
    padding: 10px 10px 10px 45px;
    font-size: 14px;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 45px);
    max-width: 250px;
    border: 1px solid #bbb;
    padding: 0 0 0 45px;
    font-size: 14px;
}

input[type="text"]:focus, input[type="email"]:focus {
    border: 1px solid #2196f3;
}

button {
    width: 100%;
    max-width: 150px;
    background: #e6ebee;
    border: none;
    border-bottom: 5px solid #d3dce1;
    color: #333;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#main-aside-wrapper {
    display: flex;
    flex-direction: column;
  }
  #main-aside-wrapper main, #main-aside-wrapper aside {
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
  }
  #main-aside-wrapper aside {
    flex: 1;
    order: 1;
  }
  #main-aside-wrapper main {
    flex: 3;
    order: 2;
  }
  
  @media screen and (min-width: 800px) {
    #main-aside-wrapper {
      flex-direction: row;
    }
  }